*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{

    background-color: rgba(205, 248, 255, 0.998);
    width: 100%;
    height: 100vh;
}

.todo-container{
    max-width: 550px;
    background-color:white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);

}
h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 50px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
input::placeholder{
    color: #88322c;
}

#input-field{
    width: 70%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5)inset;
    border-radius: 30px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #88322c;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #ffc470;
}
ul li{
    list-style: none;
    width: 100%;
    /* background-color: red; */
    padding: 10px 50px;
    border-radius: 30px;
    margin-block: 20px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    user-select: none;
}

ul li::before{
    content: "";
    background: url(./undone.svg);
    background-size: cover;
    position: center;
    position: absolute;
    top: 6px;
    left: 8px;
    width: 30px;
    height: 30px;

    
}
.checked{
    background-color:#88322c ;
    color: white;
}
.checked::before{
    background: url(./done.webp);
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 30px;
}

span{
    position: absolute;
    right: 10px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

span:hover{
    background-color: rgb(115, 140, 141);
}
ul li.checked span:hover{
    background-color:black;
    color: #ffc470;
}